.intro {
  box-sizing: border-box;
  color: @text-white;
  background-color: #2b3b4b;
	width: 320px;
	margin:0 auto;
}
.intro__button{
  margin:  10px auto;  
	&:hover{
		color: @color-hover;
		border-color: @color-hover;
	}  
	&:focus{
		outline: none;
	}
}

.intro__service {
  text-align: center;
	padding: 20px;
}
.intro__icon {
  display: inline-block;   
	&:not(:last-of-type){
  	margin-right: 30px;
	} 
}
.intro__legend{
  text-align: center;
  font-size: @font-size-base;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 30px;
}

.intro__systems-support{
  padding: 20px;       
}