.make-choice{
  text-align: center; 
  position: relative; 
  width: 320px;  
  margin: 1em auto;

}
.make-choice__wrapper{
  background-color: @color-bg-extra;    
  padding: 25px;
    
}
.make-choice__items {
  position: relative;
  z-index: 3; 
  list-style-type: none; 
  margin-left: -10%;
    
}
.make-choice__list{
  background-color: @color-bg-main;    
    
}
